*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:rgb(12, 13, 81);
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  

}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{

    list-style: none;
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
}

/*Navigation*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;


}
.nav-main ul li a:hover{
    border-bottom: 2px solid rgb(12, 13, 81);
}

.name-m{
    font-size:x-large;
    color:rgb(12, 13, 81);
    margin-right: 750px;
}

.nav-brand {
    margin-right: 20px;
    margin-left: 10px;
    width: 80px;
    
    }


/*SHOWCASE*/

.showcase {
    width: 100%;
    height: 550px;
    padding: 500px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: flex-end;
    margin-bottom: 20px;
    
    background: url(https://images4.alphacoders.com/121/1215712.jpg); 
    box-shadow: 0 0 15px 15px white inset;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    
   
    
 }



.texto{
    font-size: x-large;
    margin-bottom: 370px;
text-align: center;

}

/*Quien soy*/

.quien-soy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:25px;
    padding-bottom: 20px;
   padding-left: 20px;
    padding-right: 20px;   
    font-size: large; 
}
.foto{
   width: 100%;
   height: 100%;
   object-fit:contain;
   border-radius: 50%;
}

.quien-soy img {
    width: 100%;
    height: 180px;
  
}

.quien-soy h3{
    font-size: 20px;
    margin: 10px 0px;
}


/* CARDS BANNER ONE */


.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;


}

/*CARDS BANNER TWO*/

.cards-banner-two{
    width:100%;
    height: 350px;
     background: url(https://github.com/MiguiFortes/proyecto-1/blob/main/Html/img/editada.jpg?raw=true) no-repeat center center/cover;
     box-shadow: 0 0 8px 8px white inset;

}

.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;


}


/*Social*/

.social{
    margin: 50px;
    
    }
    
    .social p {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    
        }
    
    .links{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .links a {
    
        margin: 0 20px;
    }
    .links a i{
        font-size: 3rem;
        color:rgb(12, 13, 81);
    }
    
    .pie{
    
    text-align: center;
    margin-bottom: 30px;    
    }