*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:rgb(12, 13, 81);
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  

}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{

    list-style: none;
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
}

/*Navigation*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;


}

.name-m{
    font-size:x-large;
    color:rgb(12, 13, 81);
}

.nav-brand {
    margin-left: 10px;
    width: 80px;
    
    }

    /*NaV LEFT*/
    
.nav-main ul {
    display: flex;
    
}
    
.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
border-bottom:2px solid ;


}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 650px;

}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right:30px;


}


/*SHOWCASE*/
hr{
    margin: 10px 0;
/**/
}


.showcase {
   width: 100%;
   height: 550px;
   padding: 500px;
   display: flex;
   flex-direction: column;
   align-items:center ;
   justify-content: flex-end;
   margin-bottom: 20px;
   
   background: url(https://images4.alphacoders.com/121/1215712.jpg); 
   object-fit: contain;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 35px;
   
  
   
}



.texto{
    font-size: x-large;
    margin-bottom: 370px;
text-align: center;

}

.btn{
    cursor: pointer;
    display: inline-block;
    border:0;
    font-weight:bold ;
    padding: 10px 20px;
    background: #262626;
    color:#ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 15px 0px;

    }

.btn:hover{
opacity: .7;

}

.showcase h2,
.showcase p{
    margin-bottom: 10px;


}

/*Quien soy*/

.quien-soy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:25px;
    padding-bottom: 20px;
   padding-left: 20px;
    padding-right: 20px;   
    font-size: large; 
}
.foto{
   width: 100%;
   height: 100%;
   object-fit:contain;
}

.quien-soy img {
    width: 100%;
    height: 180px;
  
}

.quien-soy h3{
    font-size: 20px;
    margin: 10px 0px;
}


/* FONDO ABAJO*/

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(https://images.daznservices.com/di/library/DAZN_News/82/b9/gp-silverstone-formula-1-motogp_1evqrslsd385y1e93cif1dzusp.jpg?t=-1391265871) no-repeat center center/cover;
  
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;


}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;

}

/*CARS TWO*/

.cards-banner-two{
    width:100%;
    height: 350px;
     background: url(https://github.com/MiguiFortes/proyecto-1/blob/main/Html/img/editada.jpg?raw=true) no-repeat center center/cover;


}

.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;


}


/*Social*/

.social{
margin: 50px;

}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

    }

.links{
    align-items: center;
    display: flex;
    justify-content: center;
}

.links a {

    margin: 0 20px;
}
.links a i{
    font-size: 3rem;
    color:rgb(12, 13, 81);
}

@media (max-width:700px ){

    .nav-main ul.nav-menu{ 
        display:block ;
        position: absolute;
        top: 0px;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
       
        
   


}


    .quien-soy{
        grid-template-columns: repeat(2,1fr);

    }
    .cards-banner-one .content,
    .cards-banner-two .content{

        width: 80%;
    }
 }